.conteiner{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.barra{
    display: flex;
    justify-content: end;
    gap: 2rem;
}
.logo{
    display: flex;
    justify-content: first baseline;
    
    
}
.logo img {
    width: 6rem;
}